/**** ABOUT ****/
.bg-color{
  background:#F05F40;
}

section{
  padding: 80px 0;
  position: relative;
  text-align: center;
}

.about-section h3{
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
}

.about-section h3:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background:#c34d34;
}

.about-section p{
  font-size: 18px;
  line-height: 1.8;
  color: #fff;
  margin-bottom: 15px;
}

.btn-default-new{
  background: #c34d34;
  border-radius: 30px;
  border: solid 3px #c34d34;
  color: #ffffff;
  font-size: 18px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  padding: 0 25px;
  line-height: 3.1;
  margin-top: 30px;
  letter-spacing: 0.05em;
  -ms-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.btn-default-new:hover, .btn-default-new:focus{
  background: #fff;
  color: #c34d34;
  border-color: #c34d34;
}
/**** ABOUT END ****/